body {
    padding: 0;
    margin: 0;
    /* font-family: 'KoHo', sans-serif; */
    background: linear-gradient(rgb(226, 66, 66), rgba(166, 190, 78, 0.6));
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 50px);
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    }
    
    h1, h2, h3 , h4 {
      margin: 2px;
    }
    
    h1 {
      text-decoration: overline;
    }
    .main-wrapper {
      display: grid;
      grid-template-columns: auto auto;
    
    }
    
    .titles {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    
    #main-grid {
      background-color: rgba(208, 139, 218, 0.322);
      width: 600px;
      height: 600px;
      position: relative;
      margin: 20px auto;
      border-style: solid;
      border-width: 2px;
      border-color: rgb(35, 61, 211);
      box-shadow: 0 0 10px black;
    }
    
    .node {
      background: radial-gradient(rgba(253, 0, 232, 0.9), transparent);
      width: 30px;
      height: 30px;
      position: absolute;
      z-index: 1;
    }
    
    .bot {
        background: radial-gradient(rgba(47, 0, 255, 0.9), transparent);
        width: 30px;
      height: 30px;
      position: absolute;
      opacity: .5;
      border-radius: 50%;
      transition-duration: 1s;
      z-index: 2;
    }
    
    #nodeinfo, #botinfo {
      width: 300px;
    }
    
    #nodeinfo h4, #botinfo h4 {
      font-weight: 400:400;
      color: rgb(255, 140, 110)
    }
    
    .legend {
      display: flex;
      flex-direction: row;
      width: 300px;
      height: 30px;
      align-items: center;
      justify-content: space-between;
    }
    
    .legend p {
      padding-left: 40px;
    }